<%- include('head') %>  
<body>
    <%- include('navbar') %>
    <div class="content-about">
        <div class="content-about-header">
            <div class="content-about-header-text">
                <p>About Us</p>
                <span>Our Mission and Vision</span>
            </div>
            <div class="content-about-header-img">
                <img src="img/about.jpg" alt="about">
            </div>
        </div>
        <div class="content-about-container">
            <div class="content-about-container-item">
                <div class="content-about-container-item-text">
                    <strong>Our Mission</strong>
                </div>
                <div class="content-about-container-item-content">
                    <p> <b>Leaf Aid</b> is a global humanitarian organization committed to creating sustainable and positive changes in the lives of those in need around the world. Founded in 2013, we have been present in over 50 countries, bringing hope and support to millions of people in need, from orphans, disaster-affected people, to communities facing poverty and health crises.

                        With the mission <b>"Bringing hope, building the future"</b>, <b>Leaf Aid</b> focuses on three main areas: <b>education, health, and social welfare.</b> We believe that only with a stable foundation, good educational opportunities, and healthcare, individuals can build a brighter future for themselves and their communities.</p>
               <ul>
                   <li><strong><a href="/post/pempowering-futures-transforming-lives-through-educationp">Education:</a></strong> We build schools, provide scholarships, and fund textbooks and learning tools for children in underprivileged areas. Leaf Aidis committed to ensuring that every child has the right to learn and develop their potential.</li>
                   <li><strong><a href="/post/pstrongbrittle-healthcare-infrastructurestrongp">Health:</a></strong> In difficult communities, we implement healthcare programs, provide medicines, medical equipment, and organize training courses for local healthcare workers. We believe that health is the foundation for sustainable development.</li>
                   <li><strong>Social Welfare:</strong> Leaf Aid  with local organizations to build basic infrastructure such as clean water systems, housing, and support small economic projects to help families become self-sufficient and generate stable income.</li>
               </ul>
               <p>Every member of Leaf Aidis an important link in our vast network. Our team of experts, volunteers, and global partners are always dedicated to the mission of helping the most vulnerable in society. We believe that with the power of compassion and solidarity, we can break down all barriers and bring a better future to millions of people around the world. <br>

                If you want to join us on this meaningful journey, become a part of <b>Leaf Aid</b> to bring hope and opportunities to everyone, anywhere in the world.</p>
                </div>
                <div class="content-about-container-item-img">
                    <img src="img/about-content.jpg" alt="about1">
                </div>
            </div>
            <div class="content-about-container-item">
                <div class="content-about-container-item-text">
                    <strong>Leaf Aid's Past, Present, and Future Activities</strong>
                </div>
                <div class="content-about-container-item-content">  
                    <p>Past Activities: Since its establishment, Leaf Aidhas carried out many practical activities and made a strong mark in the humanitarian field. To date, we have:</p>
                    <ul>
                        <li><strong><a href="/post/pempowering-futures-transforming-lives-through-educationp">Provided scholarships and educational opportunities</a></strong> to over 200,000 children in impoverished areas in Asia, Africa, and South America. We have built over 150 schools and hundreds of community libraries to help children have the conditions to study and develop.</li>
                        <li><strong><a href="/post/pstrongmillions-affected-by-severe-flooding-across-chad-nigeria-and-cameroonstrongp">Implemented community health campaigns</a></strong> in over 30 countries, supporting disease prevention and providing over 2 million doses of medicine and medical supplies to remote areas. Leaf Aidhas also built mobile health stations to provide timely support to people in emergency situations.</li>
                        <li><strong><a href="/post/psupporting-lives-in-crisis-providing-food-shelter-and-hope-to-over-500000-peoplep">Provided food and safe shelter</a></strong> to over 500,000 people affected by natural disasters and conflicts. We have built hundreds of temporary houses, community kitchens, and clean water systems in heavily affected areas.</li>
                    </ul>
                    <p>Ongoing Activities: Currently, Leaf Aid is continuing to implement many important projects to sustainably support the community:</p>
                    <ul>
                        <li><strong>>Global Clean Water Project :</strong> We are installing clean water systems in over 200 rural communities, helping people access safe water, improving health and living conditions.</li>
                        <li><strong>Vocational Training and Development Program:</strong> To help families have stable income sources, Leaf Aidis organizing vocational training courses and supporting small startups for over 10,000 women and youth. This program helps people become self-sufficient and improve their lives.</li>
                        <li><strong>Vaccination and Disease Prevention Campaign:</strong> Meeting the urgent needs in community healthcare, Leaf Aidis promoting vaccination campaigns, especially in areas vulnerable to diseases.</li>
                    </ul>
                    <p>Future Projects: In the coming years, Leaf Aidis committed to continuing to expand and develop new programs to create more positive and sustainable impacts:</p>
                    <ul>
                        <li><strong>Expanding Digital Education Program:</strong> With the goal of bridging the digital divide, we will provide digital classes, free devices, and internet access to schools and communities in remote areas, helping children and youth access technology.</li>
                        <li><strong>Building field hospitals in disaster and conflict hotspots:</strong> To respond to emergency situations, Leaf Aid will establish field hospitals and mobile medical teams, ready to support when disasters occur.</li>
                        <li><strong>Sustainable Housing Project:</strong> We will implement projects to build environmentally friendly, sustainable housing for disadvantaged communities, ensuring people have safe housing and contributing to environmental protection.</li>
                    </ul>
                    <p><b>Leaf Aid</b> always strives to ensure that every community contribution is used most effectively and creates real changes. Our journey does not stop at what has been achieved but will go further to spread hope to all those in need.</p>
                </div>
                <div class="content-about-container-item-img">
                    <img src="img/about-content-2.jpg" >
                </div>
            </div>
        </div>
    </div>
    <%- include('footer') %>
</body>  