<footer class="footer">
    <div class="container">
        <a class="footer__back-to-top" href="#top">Back to top</a>
        <div class="footer__links">
            <div class="footer__column">
                <h4><a href="/we-will-do">Our work</a></h4>
                <!-- START MENU -->
                <ul class="unicity-sectionmenu">
                    <li class="menu_page37">
                        <a class="menu-first" href="/we-will-do/fighting-hunger">
                            <span>Fighting Hunger</span>
                        </a>
                    </li>
                    <li class="menu_page38">
                        <a href="/we-will-do/preventing-disease">
                            <span>Preventing Disease</span>
                        </a>
                    </li>
                    <li class="menu_page39">
                        <a href="/we-will-do/ensuring-clean-water">
                            <span>Ensuring Clean Water and Sanitation</span>
                        </a>
                    </li>
                </ul>
                <!-- END MENU -->
            </div>
            <div class="footer__column footer__column--center"> 
                <h4> <a href="/post/pleaf-aid-ndash-spreading-love-nurturing-hopep">Our Impact</a></h4>
                <p><a href="/">Leaf Aid</a> is a global organization that works to end hunger and poverty by providing food, clean water, and education to those in need. Our work is focused on three main areas: fighting hunger, preventing disease, and ensuring clean water and sanitation.</p>
            </div>
            <div class="footer__column footer__column--right">
                <h4> <a href="/about">Get in touch</a></h4>
                <!-- START MENU -->
                <ul class="unicity-sectionmenu">
                    <li class="menu_page47">
                        <a class="menu-first" href="/contact">
                            <span>Contact us</span>
                        </a>
                    </li>
                    <li class="menu_page47">
                        <a class="menu-first" href="/about">
                            <span>About us</span>
                        </a>
                    </li>
                </ul>
                <!-- END MENU -->
                <a href="/donate" class="button">DONATE NOW</a>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__fr-logo">
                <img src="/logo.png">
            </div>
            <div class="footer__contact-details">
                <p>
                    <strong>Leaf Aid</strong> 456 Charity Lane, New York, NY 10001, USA
                    <span class="footer__tel-and-email-wrapper">
                        <a href="tel:+18001234567" class="footer__tel-link">+1 (800) 123-4567</a>
                        <a href="mailto:contact@LeafAid.org" class="footer__email-link">contact@LeafAid.org</a>
                    </span>
                </p>
                <p>Leaf Aid is a Charitable Company Limited by Guarantee. Registered Number 3038352 in England. Charity Registration Number 1045315.</p>
            </div>
            <div class="footer__social-media">
                <a href="https://www.facebook.com/LeafAidUSA" target="_blank">
                    <img src="/icons/facebook.png" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/LeafAidOfficial" target="_blank">
                    <img src="/icons/instagram.png" alt="Instagram">
                </a>
                <a href="https://www.twitter.com/LeafAidUSA" target="_blank">
                    <img src="/icons/twitter.png" alt="Twitter">
                </a>
            </div>
        </div>
    </div>
</footer>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    const backToTopButton = document.querySelector('.footer__back-to-top');

    if (backToTopButton) {
        backToTopButton.addEventListener('click', function(event) {
            event.preventDefault();
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });
    }
});
</script>