<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="../css/homepage.css">   
   <link rel="stylesheet" href="../css/navbar.css">
   <link rel="stylesheet" href="../css/footer.css">
   <link rel="stylesheet" href="../css/donate.css">
   <link rel="stylesheet" href="../css/theissues.css">
   <link rel="stylesheet" href="../css/wewilldo.css">
   <link rel="stylesheet" href="../css/post.css">
   <link rel="stylesheet" href="../css/preventing.css">
   
   <link rel="icon" href="/logo.png">
  <!-- Meta Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1113174183531830');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1113174183531830&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
</head>

<head>
 
</head>
<body>
    <%- include('../navbar') %>
    <div class="content-preventingdisease">
        <div class="content-preventingdisease-header">
            <div class="content-preventingdisease-header-text">
                <p>Ensuring Clean Water and Sanitation</p>
            </div>
            <div class="content-preventingdisease-header-img">
                <img src="/img/clean-water-bg.jpg">
            </div>
        </div>
        <div class="content-preventingdisease-container">
            <div class="content-preventingdisease-container-item">
                <div class="content-preventingdisease-container-item-text">
                    <strong>We provide clean water, sanitation, and hygiene education to prevent disease.</strong>
                </div>
                <div class="content-preventingdisease-container-item-content">
                  <p> We are dedicated to improving access to clean water and sanitation in vulnerable communities. Our efforts include building wells to provide a reliable source of fresh water, installing water purification systems to ensure safe drinking water, and promoting sanitation practices to reduce health risks. Clean water is essential for health, preventing the spread of waterborne diseases, and supporting daily needs like cooking, drinking, and personal hygiene. By prioritizing these resources, we help communities reduce their reliance on contaminated water sources, leading to better overall health and quality of life. Access to clean water and proper sanitation also allows children to attend school regularly, reduces the burden on women who often travel long distances to collect water, and empowers entire communities to thrive with improved health and well-being.</p>
                </div>
            </div>
            <div class="content-preventingdisease-container-item-img">
                <img src="/img/clean-water.jpg" style="width: 80%; height: 80%; object-fit: cover">
             
            </div>
        </div>
    </div>
    <%- include('../footer') %>
</body>
<script src="../js/footer.js"></script>
</html>
