<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="../css/homepage.css">   
   <link rel="stylesheet" href="../css/navbar.css">
   <link rel="stylesheet" href="../css/footer.css">
   <link rel="stylesheet" href="../css/donate.css">
   <link rel="stylesheet" href="../css/theissues.css">
   <link rel="stylesheet" href="../css/wewilldo.css">
   <link rel="stylesheet" href="../css/post.css">
   <link rel="stylesheet" href="../css/preventing.css">
   
   <link rel="icon" href="/logo.png">
 <!-- Meta Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1113174183531830');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1113174183531830&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
</head>

<head>
 
</head>
<body>
    <%- include('../navbar') %>
    <div class="content-preventingdisease">
        <div class="content-preventingdisease-header">
            <div class="content-preventingdisease-header-text">
                <p>Preventing Disease</p>
            </div>
            <div class="content-preventingdisease-header-img">
                <img src="/img/preventing-bg.jpg">
            </div>
        </div>
        <div class="content-preventingdisease-container">
            <div class="content-preventingdisease-container-item">
                <div class="content-preventingdisease-container-item-text">
                    <strong>We provide clean water, sanitation, and hygiene education to prevent disease.</strong>
                </div>
                <div class="content-preventingdisease-container-item-content">
                    <p>We collaborate closely with healthcare providers to ensure communities have access to essential medical resources, vaccinations, and vital healthcare education. By supplying necessary medical equipment and medicines, we help address immediate healthcare needs and improve community health standards. Vaccination programs play a critical role in preventing the spread of infectious diseases, especially among vulnerable populations, including children and the elderly. <br><br>

                        In addition, healthcare education is a core component of our efforts, empowering individuals with the knowledge needed to make informed decisions about their health. Through workshops, information sessions, and community outreach, we raise awareness about hygiene practices, disease prevention, and the importance of regular check-ups. This comprehensive approach not only helps prevent the spread of preventable diseases but also builds long-term resilience, equipping communities to handle health challenges more effectively. <br> <br>
                        
                        Ultimately, our work aims to create healthier communities where everyone, regardless of their economic situation, has the opportunity to lead a healthier, more productive life.</p>
                </div>
            </div>
            <div class="content-preventingdisease-container-item-img">
                <img src="/img/preventing.jpg">
                
            </div>
        </div>
    </div>
    <%- include('../footer') %>
</body>
<script src="../js/footer.js"></script>
</html>
