.content-about{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1.5s ease-in-out;
}
.content-about-header{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideInDown 1.5s ease-in-out;
}
.content-about-header img{
    width: 1920px;
    height: 700px;
    object-fit: cover;
    image-rendering: auto;
    animation: zoomIn 1.5s ease-in-out;
}
.content-about-header-text {
    position: absolute;
    top: 50%;
    left: 300px;
    transform: translate(0, -50%);
    color: #000;
    font-size: 40px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    animation: colorChange 3s infinite alternate;
}
.content-about-header-text span{
    color: #f0f0f0;
    order: +1;
    animation: fadeIn 1.5s ease-in-out;
}
.content-about-header-text p{
    color: #fa1212;
    animation: fadeIn 1.5s ease-in-out;
}.content-about-container{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 40px;
    animation: fadeInUp 1.5s ease-in-out;
}
.content-about-container-item{
    width: 60%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideInLeft 1.5s ease-in-out;
}
.content-about-container-item-text{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff0000;
    animation: fadeIn 1.5s ease-in-out;
}   
.content-about-container-item-content {
    font-size: 18px;
    line-height: 1.6;
    animation: fadeIn 1.5s ease-in-out;
}
.content-about-container-item-content p{
    font-weight: bold;
    font-size: 20px;
    animation: fadeIn 1.5s ease-in-out;
}
.content-about-container-item-content ul{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 18px;
    animation: fadeIn 1.5s ease-in-out;
}
.content-about-container-item-content ul li{
    margin-top: 10px;
    list-style: none;
    animation: fadeIn 1.5s ease-in-out;
}
.content-about-container-item-content li strong{
   text-decoration: underline;
   animation: fadeIn 1.5s ease-in-out;
}
.content-about-container-item-content li a{
    color: #ff0000;
    text-decoration: none;
    animation: fadeIn 1.5s ease-in-out;
}
.content-about-container-item-content li a:hover{
    color: #000;
    animation: fadeIn 1.5s ease-in-out;
}
.content-about-container-item-img{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.content-about-container-item-img img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
@media only screen and (max-width: 450px) {
    .content-about-header{
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: slideInDown 1.5s ease-in-out;
    }
    .content-about-header-text{
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
    }
    .content-about-header img {
        height: 300px;
    }
    .content-about-container-item{
        width: 90%;
    }
    .content-about-container-item-text{
        font-weight: bold;
        font-size: 20px;
    }
    .content-about-container-item-content{
        font-weight: bold;
        font-size: 16px;
    }
    .content-about-container-item-content p{
        font-size: 16px;
    }
    .content-about-container-item-content ul{
        font-size: 16px;
    }
    .content-about-container-item-content li strong{
        font-size: 16px;
    }
    .content-about-container-item-content li a{
        font-size: 16px;
    }
    .content-about-container-item-img img{
        width: 100%;
        height: auto;
    }   

}
@media only screen and (max-width: 1000px) {
    .content-about-header{
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: slideInDown 1.5s ease-in-out;
    }
    .content-about-header-text{
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
    }
    .content-about-header img {
        height: 500px;
    }
    .content-about-container-item{
        width: 80%;
    }
    .content-about-container-item-text{
        font-weight: bold;
        font-size: 22px;
    }
    .content-about-container-item-content{
        font-weight: bold;
        font-size: 18px;
    }
    .content-about-container-item-content p{
        font-size: 18px;
    }
    .content-about-container-item-content ul{
        font-size: 18px;
    }
    .content-about-container-item-content li strong{
        font-size: 18px;
    }
    .content-about-container-item-content li a{
        font-size: 18px;
    }
    .content-about-container-item-img img{
        width: 100%;
        height: auto;
    }   
}
