<%- include('../head') %>
<body>
    <%- include('../navbar') %>
    <div class="cancel-order" style="text-align: center; margin-top: 200px;">
        <div class="cancel-order-header">
            <h1>Cancel Order</h1>
        </div>
        <div class="cancel-order-container">
            <div class="cancel-order-image">
                <img src="/images/cancel-order.png" alt="cancel-order">
            </div>
            <div class="cancel-order-content">
                <p>Your order has been cancelled successfully.</p>
            </div>
        </div>
    </div>
</body>
