<%- include('../head') %>
<body>
    <%- include('../navbar') %>
    <div class="complete-order" style="text-align: center;margin-top: 200px;">
       <div class="complete-order-header">
        <div class="complete-order-header-text">
            <strong>Thank you, <%- name %>!</strong>
        </div>
       </div>
       <div class="complete-order-container">
            <div class="complete-order-container-item">
                <div class="complete-order-container-item-title">Thank you for your donation!</div>
                <div class="complete-order-container-item-content">We would like to express our deepest gratitude to you for your valuable contributions to us. Thanks to your kindness and sharing, we can continue our mission – bringing good things to children and the less fortunate around the world. For children living in difficult circumstances, each help you bring is not only material support but also comfort and motivation to help them overcome challenges in life. <br><br>

                    You may not meet these children directly, but please know that your kindness has touched their hearts. Thanks to your support, we can bring them many new opportunities – from full meals, warm clothes to learning, development and a more beautiful childhood. Each of your contributions is a small ray of light, and together, we can spread that light to the most remote and needy places. <br> <br>
                    
                    Once again, thank you very much for joining us on this meaningful journey.</div>
                <br>
                    <div class="complete-order-container-item-img">
                    <img src="/img/complete-order.jpg" alt="complete-order">
                </div>

                <div class="complete-order-container-item-button">
                    <a href="/">Back to home</a>
                    
                    <a href="/donation">See some News</a>
                </div>
            </div>
       </div>
    </div>
    <%- include('../footer') %>
</body>

